<!DOCTYPE html>
<html lang="en">
<head>
    <title>YAML-Tenant Mapper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="heading-primary">YAML-Tenant Mapper</h1>
        <div>
            <h2 class="heading-secondary">Select one of the following</h2>
            <div>
                <a href=elig><button class="button">Elig Check</button></a>
                <a href=med><button class="button">Med Check</button></a>
                <a href=rx><button class="button">Rx Check</button></a>
            </div>
            <div>
                <a href=search_all><button class="button">Search by TPA or Tenant name</button></a>
            </div>
        </div>
    </div>
</body>
</html>
